    <div class="card_img flex items-end rounded-lg p-3  bg-cover bg-center" [style.background-image]="'url(' + img + ')'">>
      <div class="w-full card_body text-white rounded-lg p-5">
        <p>{{title}}</p>
        <p>{{description}}</p>
        <button type="button"
          class="w-full text-white hover:text-white border border-white hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Default</button>
      </div>
    </div>
