<div class="lg:flex mx-10 lg:mx-auto sm:items-center lg:max-w-screen-lg">
  <!-- Título -->
  <div>
    <h2 class="text-3xl font-bold w-60 my-7">Lorem ipsum dolor sit amet</h2>
  </div>

  <!-- Tabs y contenido -->
  <div class="">
    <!-- Tabs -->
    <div class="flex gap-6 pb-2 mb-6">
      @for (tab of tabs; track $index) {
        <button
          (click)="setActiveTab($index)"
          class="uppercase pb-2 relative w-50 px-4 pt-4" 
          [ngClass]="activeTabIndex === $index ? 'bg-primary-500 text-white border-b-4 border-secondary-500' : 'text-gray-700'">
          {{ tab.title }}
        </button>
      }
    </div>

    <!-- Contenido activo -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-center">
      <!-- Imagen -->
      <div>
        <img
          [src]="tabs[activeTabIndex].content.image"
          alt="{{ tabs[activeTabIndex].title }}"
          class="rounded-lg shadow-md w-full"
        />
      </div>

      <!-- Texto -->
      <div class="space-y-4 text-gray-700">
        <p *ngFor="let paragraph of tabs[activeTabIndex].content.text">
          {{ paragraph }}
        </p>
      </div>
    </div>
  </div>
</div>
